<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recibo de Pago</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #ecb4b4;
        }

        h1, h2 {
            text-align: center;
        }

        form {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #ecb4b4;
        }

        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
        }

        input[type="text"],
        input[type="number"],
        select {
            width: calc(100% - 10px);
            padding: 8px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 10px;
            background-color: #ff3636;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            margin-bottom: 5px;
        }

        ul li:nth-child(odd) {
            background-color: #f2f2f2;
            padding: 5px;
        }
    </style>
</head>
<body>
    <h1>Recibo de Pago</h1>
    <form action="/calcular" method="POST">
        <label for="numDocente">Núm. Docente:</label>
        <input type="text" id="numDocente" name="numDocente" required><br>

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required><br>

        <label for="domicilio">Domicilio:</label>
        <input type="text" id="domicilio" name="domicilio" required><br>

        <label for="nivel">Nivel:</label>
        <select id="nivel" name="nivel" required>
            <option value="1">Licenciatura o Ingeniería</option>
            <option value="2">Maestro en Ciencias</option>
            <option value="3">Doctor</option>
        </select><br>

        <label for="pagoBasePorHora">Pago base por hora impartida:</label>
        <input type="number" id="pagoBasePorHora" name="pagoBasePorHora" required step="0.01"><br>

        <label for="horasImpartidas">Horas impartidas:</label>
        <input type="number" id="horasImpartidas" name="horasImpartidas" required><br>

        <label for="cantidadHijos">Cantidad de hijos:</label>
        <input type="number" id="cantidadHijos" name="cantidadHijos" required><br>

        <button type="submit">Calcular</button>
    </form>

    <center>
    <% if (typeof pagoTotal !== 'undefined') { %>
    <h2>Resultados</h2>
    <ul>
        <li>Núm. Docente: <%= numDocente %></li>
        <li>Nombre: <%= nombre %></li>
        <li>Domicilio: <%= domicilio %></li>
        <li>Nivel: <%= nivel %></li>
        <li>Pago base por hora impartida: <%= pagoBasePorHora %></li>
        <li>Horas impartidas: <%= horasImpartidas %></li>
        <li>Cantidad de hijos: <%= cantidadHijos %></li>
        <li>Pago total: <%= pagoTotal %></li>
        <li>Bono: <%= bono %></li>
        <li>Impuesto: <%= impuesto %></li>
        <li>Total a pagar: <%= totalAPagar %></li>
    </ul>
    <% } %>
</center>

    <script src="/js/script.js"></script>
</body>
</html>
